<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-55(%d{HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{26}) - %msg%n%rootException
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
